@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: #f0ecec;
}

img {
    height: 700px;
    width: 500px;
    padding-left: 100px;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.watawat {
    padding-left: 20px;
    font-size: 25px;
    transition: all 0.9s ease 0s;
}

.watawat:hover {
    color: black;
    text-decoration: none;
    background-color: #f0ecec;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: #d83434;
}

nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav a.logo {
    font-size: 33px;
    color: #f0ecec;
    font-weight: 600;
}

header {
    padding-top: 100px;
    height: 100vh;
    justify-content: space-between;
    
}

header .left h1 {
    font-size: 80px;
    text-align: center;
    padding-top: 300px;
}

header .left h1 span {
    color: #d0442c;
}

#section2 h1 span {
    color: #f0ecec;
}

#section2 h1 {
    color: #f0ecec;
}

.links:hover {
    color: #f0ecec;
}

header img {
    width: 900px;
}

h2.separator {
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}


#section2 {
    height: 0vh;
    display: inline-block;
    width: 100%;
    margin-top: 300px;
}

#section3 {
    height: 100px;
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 100vh;
    display: inline-block;
    width: 100%;
}

#membersection {
    display: flex;
}

.luffypic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 100px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.luffypic .luffy {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.luffypic .luffytext {
    text-align: center;
}

.zoropic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.zoropic .zoro {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.zoropic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.zoro:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.zoropic .zorotext {
    text-align: center;
}

.sanjipic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.sanjipic .sanji {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.sanjipic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.sanji:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.sanjipic .sanjitext {
    text-align: center;
}

#section22 {
    height: 30vh;
    display: inline-block;
    width: 100%;
    display: flex;
}

.namipic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 450px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.namipic .nami {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.namipic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 450px;
}

.nami:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 30px;
    border-radius: 340px;
}

.namipic .namitext {
    text-align: center;
}

.ussoppic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.ussoppic .ussop {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.ussoppic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.ussop:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.ussoppic .ussoptext {
    text-align: center;
}

.section23 {
    height: 30vh;
    display: inline-block;
    width: 100%;
    display: flex;
}

.chopperpic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 100px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.chopperpic .chopper {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.chopperpic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 100px;

}

.chopper:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.chopperpic .choppertext {
    text-align: center;
}

.robinpic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.robinpic .robin {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.robinpic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.robin:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 30px;
    border-radius: 340px;
}

.robinpic .robintext {
    text-align: center;
}

.frankypic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.frankypic .franky {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.frankypic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.franky:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.frankypic .frankytext {
    text-align: center;
}

.section24 {
    height: 50vh;
    max-height: 100vh;
    display: block;
    width: 100%;
    display: flex;
}

.brookpic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 450px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.brookpic .brook {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.brookpic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 450px;
}

.brook:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 30px;
    border-radius: 340px;
}

.brookpic .brooktext {
    text-align: center;
}

.jinbeipic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .9);
    margin-left: 400px;
    border: 1px;
    overflow: hidden;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    background-color: #f0ecec;
}

.jinbeipic .jinbei {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 40px;
    border-radius: 340px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
}

.jinbeipic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 400px;
}

.jinbei:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

.jinbeipic .jinbeitext {
    text-align: center;
}

h1 {
    text-align: center;
    padding: 50px;
    font-size: 100px;
}

.luffypic:hover {
    position: relative;
    width: 325px;
    height: 425px;
    border-radius: 50px;
    box-shadow: 0 0 60px rgba(0, 0, 0, .3);
    margin-left: 100px;
    align-items: center;

}

.luffy:hover {
    position: relative;
    height: 0px;
    width: 325px;
    padding: 40px;
    border-radius: 340px;
}

#section3 {
    display: flex;
}

#section1 {
    margin: 0;
}
